{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">INICIO</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugit veritatis, magni nam quasi dolorum doloribus facilis harum? Voluptas ullam animi, dolore sunt ea quo dolorem nostrum vero laudantium sed?
        </p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">Ingresar</a>
            <a class="btn btn-primary" href="/signup/">Crear cuenta</a>
        </div>
    </section>
</main>
{% endblock %}