{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form action="" method="POST" class="card card-body mt-4">
                {{error}}
                {% csrf_token %}
                <h1 class="text-center">INGRESAR</h1>
                
                <div class="mb-3">
                    <label for="">Usuario</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Usuario">
                </div>
            
                <div class="mb-3">
                    <label for="">Clave</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="******">
                </div>
            
                <button class="btn btn-primary">Ingresar</button>
            </form>
        </section>
    </div>
</main>

{% endblock %}